.tasks-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 10px;
  overflow: hidden;
  height: 100%;
}

.task-list {
  width: 25%;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  overflow: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  h2 {
    text-align: center;
    font-weight: 800;
    padding-bottom: 10px;
    text-shadow: 1px 1px #ffffff;
    font-size: 30px;
  }
}

.to-be-done {
  background-color: #d07777;
}

.in-progress {
  background-color: #d6ca45;
}

.to-be-tested {
  background-color: #66c5e2;
}

.completed {
  background-color: #68cd6b;
}

.task {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: wheat;
  width: 80%;

  h3 {
    border-bottom: dashed black;
    padding-bottom: 10px;
    text-align: center;
    
    min-height: 60px;
    overflow: wrap;
  }

  p {
    font-weight: 800;
  }

  span {
    font-weight: 500;
  }
}

.task-btns {
  display: flex;
  justify-content: space-around;
  gap: 10px;

  button {
    background-color: wheat;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.is-dragging {
  background-color: red;
}